@charset "UTF-8";
/* SASS import */
/* main color */
/* font variables */
/* others */
/* icon font character */
/* mixins */
/* Common */
/* line 2, sass/part/_part_global.scss */
body {
  background-color: rgba(238, 238, 238, 0.8);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  min-width: 300px;
  color: #000;
  font-family: Roboto, "Microsoft YaHei", "Noto Sans CJK", "Source Han Sans", "PingFang SC", "PingFang TC", STXihei, STHeiti, sans-serif;
  font-weight: 300;
  margin-top: 3.5em;
}

@media screen and (max-resolution: 100dpi) {
  /* line 18, sass/part/_part_global.scss */
  body {
    font-size: 14px;
  }
}
/* line 53, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_selection.scss */
*::-moz-selection {
  color: #000;
  background-color: #C6E3FF;
}
/* line 53, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_selection.scss */
*::selection {
  color: #000;
  background-color: #C6E3FF;
}

/* line 27, sass/part/_part_global.scss */
img, iframe {
  border: none;
}

/* line 31, sass/part/_part_global.scss */
a {
  color: #006892;
  text-decoration: none;
}
/* line 34, sass/part/_part_global.scss */
a:hover {
  color: #46AECE;
  text-decoration: underline;
}

/* line 40, sass/part/_part_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 1.625em;
  font-family: Sawasdee, "Microsoft YaHei", "Noto Sans CJK", "Source Han Sans", "PingFang SC", "PingFang TC", STXihei, STHeiti, sans-serif;
  font-weight: bolder;
}

/* line 45, sass/part/_part_global.scss */
h2 {
  font-size: 1.5em;
}

/* line 46, sass/part/_part_global.scss */
h3 {
  font-size: 1.375em;
}

/* line 47, sass/part/_part_global.scss */
h4 {
  font-size: 1.25em;
}

/* line 48, sass/part/_part_global.scss */
h5 {
  font-size: 1.125em;
}

/* line 49, sass/part/_part_global.scss */
h6 {
  font-size: 1em;
}

/* line 51, sass/part/_part_global.scss */
strong, b {
  font-weight: bolder;
  color: #700;
}

/* line 57, sass/part/_part_global.scss */
mark, ins {
  background-color: rgba(255, 249, 192, 0.8);
  text-decoration: none;
}

/* line 61, sass/part/_part_global.scss */
del.blackout {
  background-color: #000;
  text-decoration: none;
}

/* line 66, sass/part/_part_global.scss */
blockquote {
  border-left: 1em solid #ccc;
  padding: 1em;
}
/* line 69, sass/part/_part_global.scss */
blockquote p {
  margin: 0.5em 0;
}

/* line 74, sass/part/_part_global.scss */
kbd, tt, var, samp, code, pre.codeview {
  font-family: Inconsolata, 'WenQuanYi Micro Hei Mono', monospace;
}

/* line 77, sass/part/_part_global.scss */
kbd {
  border: 1px solid #ccc;
  border-radius: 10%;
  display: inline-block;
  padding: 0 0.5em;
  text-align: center;
  margin: 0 0.5em;
  line-height: 150%;
  text-transform: capitalize;
}

/* line 87, sass/part/_part_global.scss */
code {
  margin: 0.5em;
  padding: 0 0.5em;
  background-color: rgba(221, 221, 221, 0.8);
  color: #333;
}

/* line 93, sass/part/_part_global.scss */
pre.aa {
  font-family: 'MS PGothic', monospace;
}

/* line 96, sass/part/_part_global.scss */
pre code {
  display: block;
  margin: 0;
  padding: 0.5em;
  border: 2px dotted #808080;
  background-color: rgba(221, 221, 221, 0.8);
  color: #333;
  overflow: auto;
}
/* line 53, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_selection.scss */
pre code::-moz-selection {
  color: #000;
  background-color: #C6E3FF;
}
/* line 53, ../../../../../../../var/lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_selection.scss */
pre code::selection {
  color: #000;
  background-color: #C6E3FF;
}

/* line 107, sass/part/_part_global.scss */
.wp-caption {
  /* border: 1px solid $bdrcolor; */
  margin: 1em;
  padding: 0.5em;
  background-color: rgba(238, 238, 238, 0.8);
}

/* line 113, sass/part/_part_global.scss */
.wp-caption-text, .gallery-caption {
  font-size: 0.8em;
  color: #333;
  text-align: center;
}

/* line 119, sass/part/_part_global.scss */
.gallery {
  /* border: 1px solid $bdrcolor; */
  background-color: rgba(238, 238, 238, 0.8);
  margin: 1em;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: flex;
}
/* line 126, sass/part/_part_global.scss */
.gallery .gallery-item {
  display: inline-block;
  margin: 1em 0 1em 1em;
  padding: 0.5em;
  background-color: rgba(248, 248, 248, 0.8);
  /* border: 1px solid $bdrcolor; */
}
/* line 132, sass/part/_part_global.scss */
.gallery .gallery-item:last-child {
  margin-right: 1em;
}

/* line 138, sass/part/_part_global.scss */
.alignleft {
  float: left;
}

/* line 142, sass/part/_part_global.scss */
.alignright {
  float: right;
}

/* line 146, sass/part/_part_global.scss */
.aligncenter {
  display: block;
  margin: auto;
}

/* line 151, sass/part/_part_global.scss */
.main {
  margin: auto;
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
}

/* line 157, sass/part/_part_global.scss */
.blur, header.main.blur > * {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

/* Header */
/* line 18, sass/part/_part_header.scss */
aside#global-actionbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  min-width: 300px;
  background-color: dodgerblue;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
  z-index: 9997;
}
/* line 27, sass/part/_part_header.scss */
aside#global-actionbar button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: none;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 1.2em;
  padding: 0;
  width: 2.5em;
  line-height: 250%;
  text-decoration: none;
  outline: none;
  font-family: iconfont;
}
/* line 30, sass/part/_part_header.scss */
aside#global-actionbar h1, aside#global-actionbar h2, aside#global-actionbar h3, aside#global-actionbar h4, aside#global-actionbar h5, aside#global-actionbar h6, aside#global-actionbar p {
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: bottom;
  color: #fff;
  font-family: Sawasdee, "Microsoft YaHei", "Noto Sans CJK", "Source Han Sans", "PingFang SC", "PingFang TC", STXihei, STHeiti, sans-serif;
  font-size: 1.5em;
  line-height: 200%;
}
/* line 39, sass/part/_part_header.scss */
aside#global-actionbar p {
  font-size: 0.8em;
  line-height: 375%;
}
/* line 43, sass/part/_part_header.scss */
aside#global-actionbar form#search-form {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
}
/* line 49, sass/part/_part_header.scss */
aside#global-actionbar form#search-form input.search-field {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  color: #000;
  background-color: #eee;
  margin: 0.5em 0;
  padding: 0 0.5em;
  border: none;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  line-height: 200%;
  width: 10em;
  transition: width 0.2s cubic-bezier(0.79, 0.14, 0.15, 0.86) 0s;
  text-overflow: ellipsis;
  box-shadow: 0 0 5px 0 dodgerblue inset;
}
/* line 63, sass/part/_part_header.scss */
aside#global-actionbar form#search-form input.search-field:focus, aside#global-actionbar form#search-form input.search-field:hover {
  background-color: #f8f8f8;
  width: 20em;
}
/* line 68, sass/part/_part_header.scss */
aside#global-actionbar form#search-form input.search-submit {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: none;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 1.2em;
  padding: 0;
  width: 2.5em;
  line-height: 250%;
  text-decoration: none;
  outline: none;
  font-family: iconfont;
}

/* line 74, sass/part/_part_header.scss */
header.main.blur, header.main.blur > header.main {
  -webkit-filter: none;
  filter: none;
}

/* line 81, sass/part/_part_header.scss */
header.main img {
  width: 100%;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

/* Article */
/* line 3, sass/part/_part_article.scss */
article.hentry {
  margin: 1em 0;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(248, 248, 248, 0.8);
}
/* line 7, sass/part/_part_article.scss */
article.hentry header {
  border-bottom: 1px solid #ccc;
  padding: 1em 0;
  margin: 0 1em;
}
/* line 11, sass/part/_part_article.scss */
article.hentry header h2 {
  margin: 0;
}
/* line 13, sass/part/_part_article.scss */
article.hentry header h2 a {
  text-decoration: none;
  color: #006892;
}
/* line 16, sass/part/_part_article.scss */
article.hentry header h2 a:hover {
  text-decoration: underline;
  color: #46AECE;
}
/* line 23, sass/part/_part_article.scss */
article.hentry footer {
  /* border-top: 1px solid $bdrcolor;*/
  background-color: rgba(238, 238, 238, 0.8);
  padding: 1em;
}
/* line 28, sass/part/_part_article.scss */
article.hentry p.post-info {
  margin: 0;
  font-size: 0.8em;
  color: #666;
}
/* line 32, sass/part/_part_article.scss */
article.hentry p.post-info a {
  color: #5599B2;
}
/* line 34, sass/part/_part_article.scss */
article.hentry p.post-info a:hover {
  color: #46AECE;
}
/* line 38, sass/part/_part_article.scss */
article.hentry p.post-info b {
  color: #666;
}
/* line 41, sass/part/_part_article.scss */
article.hentry p.post-info .author, article.hentry p.post-info time, article.hentry p.post-info .category {
  margin-right: 1em;
}
/* line 43, sass/part/_part_article.scss */
article.hentry p.post-info .author::before, article.hentry p.post-info time::before, article.hentry p.post-info .category::before {
  font-family: iconfont;
}
/* line 47, sass/part/_part_article.scss */
article.hentry p.post-info .author::before {
  content: " ";
}
/* line 50, sass/part/_part_article.scss */
article.hentry p.post-info time::before {
  content: "⏲ ";
}
/* line 53, sass/part/_part_article.scss */
article.hentry p.post-info .category::before {
  content: " ";
}
/* line 56, sass/part/_part_article.scss */
article.hentry p.post-info.post-tags {
  line-height: 150%;
}
/* line 58, sass/part/_part_article.scss */
article.hentry p.post-info.post-tags::before {
  content: " ";
  font-family: iconfont;
}
/* line 62, sass/part/_part_article.scss */
article.hentry p.post-info.post-tags a {
  display: inline-block;
  padding: 0 0.5em;
  margin-right: 0.5em;
  min-width: 1em;
  line-height: 120%;
  text-align: center;
  background-color: #ddd;
  border-radius: 1em;
  color: #006892;
  text-decoration: none;
}
/* line 73, sass/part/_part_article.scss */
article.hentry p.post-info.post-tags a:hover {
  color: #46AECE;
  background-color: #e6e6e6;
}
/* line 79, sass/part/_part_article.scss */
article.hentry p.post-info.post-comment {
  line-height: 150%;
}
/* line 81, sass/part/_part_article.scss */
article.hentry p.post-info.post-comment::before {
  content: " ";
  font-family: iconfont;
}
/* line 85, sass/part/_part_article.scss */
article.hentry p.post-info.post-comment a {
  display: inline-block;
  padding: 0 0.5em;
  min-width: 1em;
  line-height: 120%;
  text-align: center;
  background-color: #ddd;
  border-radius: 1em;
  color: #006892;
  text-decoration: none;
}
/* line 95, sass/part/_part_article.scss */
article.hentry p.post-info.post-comment a:hover {
  color: #46AECE;
  background-color: #e6e6e6;
}
/* line 102, sass/part/_part_article.scss */
article.hentry section.entry {
  padding: 0 1em;
  line-height: 150%;
  counter-reset: h3c;
  counter-reset: h4c;
  counter-reset: h5c;
  counter-reset: h6c;
}
/* line 105, sass/part/_part_article.scss */
article.hentry section.entry span.more {
  font-size: bolder;
}
/* line 113, sass/part/_part_article.scss */
article.hentry section.entry h3 {
  counter-reset: h4c;
  counter-reset: h5c;
  counter-reset: h6c;
  counter-increment: h3c;
}
/* line 118, sass/part/_part_article.scss */
article.hentry section.entry h3::before {
  margin-right: 0.5em;
  content: counter(h3c) ".";
}
/* line 123, sass/part/_part_article.scss */
article.hentry section.entry h4 {
  counter-reset: h5c;
  counter-reset: h6c;
  counter-increment: h4c;
}
/* line 127, sass/part/_part_article.scss */
article.hentry section.entry h4::before {
  margin-right: 0.5em;
  content: counter(h3c) "." counter(h4c) ".";
}
/* line 132, sass/part/_part_article.scss */
article.hentry section.entry h5 {
  counter-reset: h6c;
  counter-increment: h5c;
}
/* line 135, sass/part/_part_article.scss */
article.hentry section.entry h5::before {
  margin-right: 0.5em;
  content: counter(h3c) "." counter(h4c) "." counter(h5c) ".";
}
/* line 140, sass/part/_part_article.scss */
article.hentry section.entry h6 {
  counter-increment: h6c;
}
/* line 142, sass/part/_part_article.scss */
article.hentry section.entry h6::before {
  margin-right: 0.5em;
  content: counter(h3c) "." counter(h4c) "." counter(h5c) "." counter(h6c) ".";
}
/* line 151, sass/part/_part_article.scss */
article.sticky header h2::before {
  font-family: iconfont;
  color: #f30;
  content: "📌 ";
}

/* Common styles for archive page */
/* line 3, sass/part/_common_archive.scss */
div.archive-header {
  background-color: rgba(248, 248, 248, 0.8);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
  margin: 1em 0;
  padding: 1em;
}

/* line 9, sass/part/_common_archive.scss */
div.archive-header h1, div.archive-header h2, div.archive-header h3, div.archive-header h4, div.archive-header h5, div.archive-header h6 {
  margin: 0;
}

/* line 12, sass/part/_common_archive.scss */
div.archive-header p {
  margin: 0;
}

/* mixins */
/* Article pages */
/* line 35, sass/part/_part_paginate.scss */
article.hentry section.page-links {
  text-align: center;
  line-height: 100%;
  margin: 1em;
}
/* line 38, sass/part/_part_paginate.scss */
article.hentry section.page-links a {
  display: inline-block;
  text-decoration: none;
}
/* line 41, sass/part/_part_paginate.scss */
article.hentry section.page-links span {
  display: inline-block;
  text-decoration: none;
}
/* line 43, sass/part/_part_paginate.scss */
article.hentry section.page-links span span {
  padding: 0.625em 0.5em;
  width: 1.25em;
  line-height: 100%;
  text-align: center;
}
/* line 46, sass/part/_part_paginate.scss */
article.hentry section.page-links span a span:hover, article.hentry section.page-links span > span {
  background-color: #aaa;
  color: #fff;
}
/* line 11, sass/part/_part_paginate.scss */
article.hentry section.page-links > span:nth-child(odd) {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
/* line 15, sass/part/_part_paginate.scss */
article.hentry section.page-links > span:nth-child(even) {
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
/* line 19, sass/part/_part_paginate.scss */
article.hentry section.page-links > span:nth-child(1) {
  border-left: 1px solid #aaa;
}

/* Nav pages */
/* line 56, sass/part/_part_paginate.scss */
nav.post-page {
  text-align: center;
  line-height: 100%;
  width: 100%;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(248, 248, 248, 0.8);
  margin: 1em 0;
}
/* line 62, sass/part/_part_paginate.scss */
nav.post-page ul {
  padding: 1em;
  margin: 0;
  list-style: none;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
}
/* line 70, sass/part/_part_paginate.scss */
nav.post-page ul li {
  display: block;
  float: left;
}
/* line 11, sass/part/_part_paginate.scss */
nav.post-page ul li:nth-child(odd) {
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
/* line 15, sass/part/_part_paginate.scss */
nav.post-page ul li:nth-child(even) {
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
/* line 19, sass/part/_part_paginate.scss */
nav.post-page ul li:nth-child(1) {
  border-left: 1px solid #aaa;
}
/* line 74, sass/part/_part_paginate.scss */
nav.post-page ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 0.625em 0.5em;
  width: 1.25em;
  line-height: 100%;
  text-align: center;
}
/* line 77, sass/part/_part_paginate.scss */
nav.post-page ul li a.prev {
  width: auto;
}
/* line 79, sass/part/_part_paginate.scss */
nav.post-page ul li a.prev::before {
  content: "« ";
}
/* line 83, sass/part/_part_paginate.scss */
nav.post-page ul li a.next {
  width: auto;
}
/* line 85, sass/part/_part_paginate.scss */
nav.post-page ul li a.next::after {
  content: " »";
}
/* line 89, sass/part/_part_paginate.scss */
nav.post-page ul li a:hover {
  background-color: #aaa;
  color: #fff;
}
/* line 93, sass/part/_part_paginate.scss */
nav.post-page ul li span {
  display: inline-block;
  text-decoration: none;
  padding: 0.625em 0.5em;
  width: 1.25em;
  line-height: 100%;
  text-align: center;
}
/* line 96, sass/part/_part_paginate.scss */
nav.post-page ul li span.current {
  background-color: #aaa;
  color: #fff;
}

/* Footer */
/* line 3, sass/part/_part_footer.scss */
footer .wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
/* line 7, sass/part/_part_footer.scss */
footer a {
  color: #bce8f6;
}
/* line 10, sass/part/_part_footer.scss */
footer.main {
  font-size: 0.8em;
  width: 100%;
  max-width: none;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(51, 51, 51, 0.8);
  color: #f8f8f8;
}
/* line 17, sass/part/_part_footer.scss */
footer.main p {
  margin: 0.25em;
}
/* line 20, sass/part/_part_footer.scss */
footer.main div.wrapper {
  padding: 1.25em;
}

/* Sidebar styles */
/* line 3, sass/part/_part_sidebar.scss */
div#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 9998;
}

/* line 13, sass/part/_part_sidebar.scss */
div#overlay.hide {
  display: none;
  opacity: 0;
}

/* line 17, sass/part/_part_sidebar.scss */
aside#global-menu {
  width: 50%;
  min-width: 275px;
  max-width: 600px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #f8f8f8;
  box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.3);
  transition: left 0.2s cubic-bezier(0.79, 0.14, 0.15, 0.86) 0s;
  z-index: 9999;
  font-size: 1.5em;
  overflow: auto;
  font-family: Sawasdee, "Microsoft YaHei", "Noto Sans CJK", "Source Han Sans", "PingFang SC", "PingFang TC", STXihei, STHeiti, sans-serif;
}
/* line 32, sass/part/_part_sidebar.scss */
aside#global-menu.hide {
  left: -650px;
}
/* line 35, sass/part/_part_sidebar.scss */
aside#global-menu dl {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 39, sass/part/_part_sidebar.scss */
aside#global-menu dt {
  margin: 0;
  position: relative;
}
/* line 42, sass/part/_part_sidebar.scss */
aside#global-menu dt:hover {
  background-color: #eee;
}
/* line 46, sass/part/_part_sidebar.scss */
aside#global-menu dt.submenu::after {
  font-family: iconfont;
  content: "⌄";
  position: absolute;
  padding: 0.5em;
  bottom: 0;
  right: 0;
  transition: transform 0.2s cubic-bezier(0.79, 0.14, 0.15, 0.86) 0s;
}
/* line 55, sass/part/_part_sidebar.scss */
aside#global-menu dt.submenu.submenu-expan::after {
  transform: rotate(180deg);
}
/* line 59, sass/part/_part_sidebar.scss */
aside#global-menu dt.user {
  background-image: url("../images/user.svg");
  background-size: 100% 100%;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-top: 3em;
}
/* line 65, sass/part/_part_sidebar.scss */
aside#global-menu dt.user img {
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  overflow: hidden;
}
/* line 73, sass/part/_part_sidebar.scss */
aside#global-menu dt.user div.info {
  display: inline-block;
  vertical-align: top;
  height: 3em;
  padding: 0.5em;
  text-shadow: 1px 1px 1px #f8f8f8;
}
/* line 79, sass/part/_part_sidebar.scss */
aside#global-menu dt.user div.info div.name {
  font-size: 1em;
}
/* line 82, sass/part/_part_sidebar.scss */
aside#global-menu dt.user div.info div.loginname {
  font-size: 0.8em;
  color: #444;
}
/* line 88, sass/part/_part_sidebar.scss */
aside#global-menu dt.nomenu {
  padding: 0;
}
/* line 91, sass/part/_part_sidebar.scss */
aside#global-menu dt a {
  display: block;
  padding: 0.5em;
  padding-left: 1.5em;
  text-decoration: none;
  color: black;
}
/* line 97, sass/part/_part_sidebar.scss */
aside#global-menu dt a::before {
  font-family: iconfont;
}
/* line 101, sass/part/_part_sidebar.scss */
aside#global-menu dt.home a::before {
  content: " ";
}
/* line 104, sass/part/_part_sidebar.scss */
aside#global-menu dt.category a::before {
  content: " ";
}
/* line 107, sass/part/_part_sidebar.scss */
aside#global-menu dt.page a::before {
  content: "🗋 ";
}
/* line 110, sass/part/_part_sidebar.scss */
aside#global-menu dt.link a::before {
  content: "🔗 ";
}
/* line 113, sass/part/_part_sidebar.scss */
aside#global-menu dt.icon-archive a::before {
  content: " ";
}
/* line 116, sass/part/_part_sidebar.scss */
aside#global-menu dt.icon-about a::before {
  content: " ";
}
/* line 119, sass/part/_part_sidebar.scss */
aside#global-menu dt.icon-faq a::before {
  content: " ";
}
/* line 123, sass/part/_part_sidebar.scss */
aside#global-menu dd {
  margin: 0;
  display: block;
  height: 0;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.79, 0.14, 0.15, 0.86) 0s;
}
/* line 129, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 132, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu li {
  padding: 0;
  background-color: #ddd;
}
/* line 135, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu li a {
  /* @extend dt a; */
  display: block;
  padding: 0.5em;
  padding-left: 2.5em;
  text-decoration: none;
  color: black;
}
/* line 142, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu li a:hover {
  background-color: #eee;
}
/* line 145, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu li a::before {
  font-family: iconfont;
}
/* line 149, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu li.current_page_item a {
  padding-left: 1em;
  border-left: 0.5em solid mediumseagreen;
}
/* line 153, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu li.current-cat a {
  padding-left: 2em;
  border-left: 0.5em solid mediumseagreen;
}
/* line 157, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu li.admin a::before {
  content: " ";
}
/* line 160, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu li.login a::before {
  content: " ";
}
/* line 163, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu li.logout a::before {
  content: " ";
}
/* line 166, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu li.icon-archive a::before {
  content: " ";
}
/* line 169, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu li.icon-about a::before {
  content: " ";
}
/* line 172, sass/part/_part_sidebar.scss */
aside#global-menu dd ul.submenu li.icon-faq a::before {
  content: " ";
}

@media screen and (max-width: 600px) {
  /* global */
  /* line 2, sass/part/_smallscreen_common.scss */
  body {
    margin-top: 3em;
  }

  /* line 5, sass/part/_smallscreen_common.scss */
  .wp-caption {
    margin: 0.5em;
  }

  /* line 8, sass/part/_smallscreen_common.scss */
  .gallery {
    margin: 0.5em;
  }
  /* line 10, sass/part/_smallscreen_common.scss */
  .gallery .gallery-item {
    display: inline-block;
    margin: 0.5em 0 0.5em 0.5em;
  }

  /* line 15, sass/part/_smallscreen_common.scss */
  .gallery .gallery-item:last-child {
    margin-right: 0.5em;
  }

  /* header */
  /* line 21, sass/part/_smallscreen_common.scss */
  aside#global-actionbar p {
    display: none;
  }
  /* line 24, sass/part/_smallscreen_common.scss */
  aside#global-actionbar form#search-form {
    /*min-width: $min_width;*/
  }
  /* line 27, sass/part/_smallscreen_common.scss */
  aside#global-actionbar form#search-form input.search-field {
    display: none;
  }
  /* line 32, sass/part/_smallscreen_common.scss */
  aside#global-actionbar form#search-form.show {
    width: 100%;
    width: calc(100% - 2.5em);
  }
  /* line 35, sass/part/_smallscreen_common.scss */
  aside#global-actionbar form#search-form.show input.search-field {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid #fff;
    box-shadow: none;
    vartical-align: top;
    background-color: dodgerblue;
    color: #fff;
    margin-left: 0.5em;
    line-height: 180%;
    height: 2em;
    width: 15em;
    display: block;
  }

  /* article */
  /* line 53, sass/part/_smallscreen_common.scss */
  article.hentry {
    margin: 0.5em 0;
  }
  /* line 57, sass/part/_smallscreen_common.scss */
  article.hentry section.entry img {
    width: 100%;
    height: auto;
  }
  /* line 63, sass/part/_smallscreen_common.scss */
  article.hentry p.post-info.post-metadata time, article.hentry p.post-info.post-metadata .category, article.hentry p.post-info.post-tags {
    display: none;
  }
  /* line 67, sass/part/_smallscreen_common.scss */
  article.hentry a.read-post {
    display: block;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    outline: none;
    background-image: radial-gradient(ellipse at bottom, rgba(163, 196, 255, 0.6) 0%, rgba(125, 185, 232, 0) 10%);
  }
  /* line 75, sass/part/_smallscreen_common.scss */
  article.hentry a.read-post:hover {
    background-image: radial-gradient(ellipse at bottom, rgba(163, 196, 255, 0.6) 0%, rgba(125, 185, 232, 0) 30%);
  }

  /* paginate */
  /* line 81, sass/part/_smallscreen_common.scss */
  nav.post-page {
    margin: 0.5em 0;
  }
  /* line 83, sass/part/_smallscreen_common.scss */
  nav.post-page ul {
    padding: 0.5em;
  }

  /* footer */
  /* line 89, sass/part/_smallscreen_common.scss */
  footer.main div.wrapper {
    padding: 0.625em;
  }

  /* sidebar */
  /* line 94, sass/part/_smallscreen_common.scss */
  aside#global-menu {
    font-size: 1em;
  }
  /* line 96, sass/part/_smallscreen_common.scss */
  aside#global-menu dt {
    height: auto;
  }

  /* line 1, sass/part/_smallscreen_archive.scss */
  div.archive-header {
    margin: 0.5em 0;
    padding: 0.5em;
  }
}
