/* SASS import */
/* main color */
/* font variables */
/* others */
/* icon font character */
/* mixins */
/* line 3, sass/page-archives.scss */
.clear {
  clear: both;
}

/* line 7, sass/page-archives.scss */
ul.list {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  list-style: none;
  color: #666;
}

@media screen and (max-width: 600px) {
  /* line 13, sass/page-archives.scss */
  ul.list {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
/* line 18, sass/page-archives.scss */
ul.list li::before {
  color: #999;
  content: '\25C6';
  padding-right: 0.5em;
}

/* line 24, sass/page-archives.scss */
ul.children {
  list-style: none;
  padding: 0;
}

/* line 29, sass/page-archives.scss */
ul.children li::before {
  content: '\251C\2500';
  padding-right: 1em;
}

/* line 33, sass/page-archives.scss */
ul.children li:last-child::before {
  content: '\2514\2500';
}

/* line 36, sass/page-archives.scss */
ul.tag-list {
  padding: 0;
  display: block;
  column-count: auto;
  -moz-column-count: auto;
  -webkit-column-count: auto;
}

/* line 43, sass/page-archives.scss */
ul.tag-list li {
  display: inline-block;
  line-height: normal;
  margin: 0.5em 0.25em;
  vertical-align: middle;
}
/* line 48, sass/page-archives.scss */
ul.tag-list li a {
  display: inline-block;
  padding: 0 0.5em;
  min-width: 1em;
  line-height: 120%;
  text-align: center;
  background-color: #ddd;
  border-radius: 1em;
  color: #006892;
  text-decoration: none;
}
/* line 58, sass/page-archives.scss */
ul.tag-list li a:hover {
  color: #46AECE;
  background-color: #e6e6e6;
}
