/* icon font character */

$pin: '\1F4CC\20';
$prev: '\AB\20';
$next: '\20\BB';

$down_arrow: '\2304';

$home: '\e608\20';
$category: '\e604\20';
$page: '\1f5cb\20';
$link: '\1f517\20';

$admin: '\e605\20';
$login: '\e607\20';
$logout: '\e609\20';

$archive: '\e60b\20';
$about: '\e606\20';
$faq: '\e60a\20';

$author: '\e60d\20';
$tag: '\e60f\20';
$time: '\23f2\20';
$comment: '\e60e\20';

