/* font variables */
$chinesefonts: 'Noto Serif CJK SC', 'Noto Serif CJK TC', 'Noto Serif CJK JP', 'Noto Serif CJK KR', 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Noto Sans CJK JP', 'Noto Sans CJK KR', 'PingFang SC', 'PingFang TC', STXihei, STHeiti, 'Microsoft YaHei';
$normalfonts: Roboto Slab, Roboto, $chinesefonts, serif, sans-serif;
$chinesefonts_sans: 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Noto Sans CJK JP', 'Noto Sans CJK KR', 'PingFang SC', 'PingFang TC', STXihei, STHeiti, 'Microsoft YaHei';
$normalfonts_sans: Roboto, $chinesefonts_sans, sans-serif;
$monofonts: Inconsolata, 'WenQuanYi Micro Hei Mono', monospace;

/* others */
$min_width: 300px;
$max_width: 1000px;

$transition_params: 0.2s cubic-bezier(0.79, 0.14, 0.15, 0.86) 0s;
